
    <div class="container" style="padding-top:60px">
      <div class="row">
        <section class="main col-md-9">
          <article>
          <h2>About</h2>
          <p>My name is Pawan Deep I'm an Italian citizen but originally I'm from Punjab, India.</p>
          <p>I studed law, business and computer science in my high school and currently I'm studying computer programming in Seneca College. </p>
          <p>My hobbies are playing football, playing videogames of any type, from multiplayer battles to roleplay games.</p>
          <p>My goals are becoming a professional football player and becoming a professional programmer.</p>
          </article>
        </section>
        <aside class="col-md-3">
          <h2>Coming Soon</h2>
          <p>Stay tuned for future updates...</p>
        </aside>
      </div>
    </div>